.idea/
.git/
__pycache__/
*.py[cod]
*$py.class
migrations/
.env
kompose.exe
k8-microservice-deployment.yml
helm.exe
deployment_infrastructure/anagha-demo.pem
deployment_infrastructure/key
deployment_infrastructure/key.pub
deployment_infrastructure/.terraform.lock.hcl
deployment_infrastructure/.terraform
deployment_infrastructure/backend/.terraform
deployment_infrastructure/backend/.terraform.lock.hcl
deployment_infrastructure/backend/terraform.tfstate
deployment_infrastructure/backend/terraform.tfstate.backup
monitoring/backend/.terraform.lock.hcl
monitoring/backend/.terraform
monitoring/backend/terraform.tfstate
monitoring/backend/terraform.tfstate.backup
monitoring/.terraform.lock.hcl
monitoring/.terraform
synthetic-test/backend/.terraform.lock.hcl
synthetic-test/.terraform
synthetic-test/backend/.terraform
synthetic-test/.terraform.lock.hcl
